.EditorTheme__code {
  background-color: transparent;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: var(--s-2) var(--s-2) var(--s-2) calc(var(--s-8) + var(--s-1));
  line-height: var(--lh-normal);
  font-size: var(--fs-xs);
  margin: 0;
  margin-top: var(--s-2);
  margin-bottom: var(--s-2);
  overflow-x: auto;
  border: var(--border-w) solid var(--border);
  position: relative;
  border-radius: var(--r-sm);
  tab-size: 2;
}
.EditorTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: transparent;
  border-right: var(--border-w) solid var(--border);
  left: 0;
  top: 0;
  padding: var(--s-2);
  color: var(--text-faint);
  white-space: pre-wrap;
  text-align: right;
  min-width: calc(var(--s-5) + var(--s-1));
}
.EditorTheme__table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: fit-content;
  width: 100%;
  margin: 0px 0px 30px 0px;
}
.EditorTheme__tokenComment {
  color: var(--text-faint);
}
.EditorTheme__tokenPunctuation {
  color: var(--text-muted);
}
.EditorTheme__tokenProperty {
  color: var(--text);
}
.EditorTheme__tokenSelector {
  color: var(--text);
}
.EditorTheme__tokenOperator {
  color: var(--text-muted);
}
.EditorTheme__tokenAttr {
  color: var(--text-muted);
}
.EditorTheme__tokenVariable {
  color: var(--text);
}
.EditorTheme__tokenFunction {
  color: var(--text);
}

.Collapsible__container {
  background-color: var(--background);
  border: var(--border-w) solid var(--border);
  border-radius: var(--r-sm);
  margin-bottom: var(--s-2);
}

.Collapsible__title {
  padding: var(--s-1);
  padding-left: var(--s-4);
  position: relative;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  list-style-type: disclosure-closed;
  list-style-position: inside;
}

.Collapsible__title p {
  display: inline-flex;
}
.Collapsible__title::marker {
  color: var(--text-faint);
}
.Collapsible__container[open] > .Collapsible__title {
  list-style-type: disclosure-open;
}
